<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Reviewer: <%= review.user.first_name %> <%= review.user.last_name %></h3>
  </div>
  <div class="panel-body">
      <%= review.description %>
  </div>
  <div class="panel-footer">
      Rating: <%= review.rating %>
      <% if current_user && review.user_id == current_user.id %>
        <%= link_to (fa_icon 'trash-o', class: 'pull-right'), product_review_path(@product, review),
        data: {:confirm => 'Are you sure?'}, :method => :delete %>
      <% end %>
  </div>
</div>
