<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <div class="col-sm-8 col-sm-offset-4">
      <h2>Reviews</h2>
      <hr>

      <% if current_user %>
        <%= form_for [@product, @review] do |f| %>
        <h4>Write a review!</h4>
          <div class="form-group">
            <label for="review_description">Description</label>
            <%= f.text_area :description, class: 'form-control' %>
          </div>
          <div class="form-group">
            <label for="review_rating">Rating</label>
            <%= f.select :rating, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].reverse, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.submit 'submit', class: 'btn btn-primary' %>
          </div>
        <% end %>
      <% else %>
        <h4>Please login to write a review</h4>
      <% end %>

      <% if !@product.reviews.empty? %>
        <% @product.reviews.reverse.each do |review| %>
          <%= render 'review', review: review %>
        <% end %>
      <% else %>
        <p>There are no reviews for this item yet!</p>
      <% end %>
    </div>

  </article>

</section>
